Django==4.2.9
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
django-filter==23.5
psycopg2-binary
psycopg2
Pillow==11.0.0
python-decouple==3.8
python-dotenv==1.0.1
requests==2.31.0
google-generativeai>=0.8.0
grpcio>=1.63.0
grpcio-tools>=1.63.0
grpcio-status>=1.63.0
protobuf>=4.24.0
pdfplumber==0.11.0
gunicorn==21.2.0
whitenoise==6.6.0
dj-database-url==2.1.0
pypdf>=4.0.0
cloudinary>=1.36.0
django-cloudinary-storage>=0.3.0
